<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <title>Table 03</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    <link rel="stylesheet" th:href="@{/css/skill_style.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/skill_bootstrap.min.css}" type="text/css">

</head>
<body>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">List Skill</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center mb-4">View Skill</h4>
                <div class="table-wrap">
                    <table class="table">
                        <thead class="thead-primary">
                        <tr>
                            <th>Skill Name</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <form th:object="${skill}" th:action="@{create-new-skill}" action="#" method="POST">
                            <tr>
                                <td>
                                    <input type="text" th:field="*{skillName}" class="form-control"/>
                                </td>
                                <td>
                                    <input type="text" th:field="*{status}" class="form-control"/>
                                </td>
                                <td>
                                    <button>
                                        <input type="submit" class="btn btn-success" value="Save"/>
                                    </button>
                                </td>
                            </tr>
                        </form>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</section>

<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/popper.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>

</body>
</html>

